:root{
    --butao-width: 100px;
    --gap: 10px;
}

input:invalid{
    border: 2px solid red;
}

#paginaToda{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 800px;
    min-width: 800px;
    padding-left: 5px;  
}
.titulo{
    display: block;
    border-radius: 1px;
    border-color: red;
    border-style: solid;
}

.subtitulo{
    margin: 0px 0px 0px 0px;
}
#campoQuantidadePessoas{
    display: inline-block;
    width: 500px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;   
}

#divAtributosPessoas{
    max-width: 800px;
    margin: 0px;
}

#divCampoAtributos{
    display: flex;
    gap: var(--gap);
    margin-bottom: var(--gap);    
}

#divCampoAtributos input{
    flex: 1;
    height: 40px;
}

#divButoesAtributos{
    display: grid;
    grid-template-columns: var(--butao-width) 1fr var(--butao-width);
}

#butaoComecar,#butaoAdicionar,#butaoRecomecar{
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

#butaoComecar,#butaoAtributos,#butaoRecomecar:hover{
    cursor: pointer;
}

#butaoComecar{
    display: block;
}

#texto{
    font-size: 20px;
}

.hidden{
    display: none;
}