#paginaToda{
    display: flexbox;
    height: 100%;
    margin: 0px,0px,0px,0px;
    border: 0px,0px,0px,0px;
    margin: 0px,0px,0px,0px;
}
.titulo{
    display: block;
    border-radius: 1px;
    border-color: red;
    border-style: solid;
}
#campoQuantidadePessoas{
    display: inline-block;
    width: 500px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;   
}
#butaoComecar{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}
#texto{
    font-size: 20px;
}
.hidden{
    display: none;
}